body {
    direction: rtl;
    background-color: antiquewhite;
}

header {
    font-family: 'Gveret Levin AlefAlefAlef';
    text-align: center;
    font-size: 40px;
    color: #8a6084;
}

#container {
    width: 960px;
    font-family: 'Gveret Levin AlefAlefAlef';
    text-align: center;
    margin: 0px auto;
}

p {
    margin-top: 0px;
}

h1 {
    font-weight: bold;
    margin-bottom: 2px;
}

a {
    background-image: url(../images/facebook-icon-preview-400x400.png);
}

#profileImage {
    background-position: right;
    background-image: url(../images/5b26e3e5-9413-4eaa-b9fb-d56ffd739527.jpg);
    width: 276px;
    height: 369px;
    float: right;
}

    #profileImage:hover {
        background: url(../images/3ea5f718-f65d-4931-953a-1bf32da8d1e1.jpg) no-repeat right top;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }



#facebook {
    background-image: url('../images/facebook.png');
}

#instagram {
    background-image: url('../images/Instagram.png');
}

#center a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}
#center{
    margin-left: 250px;
}
